#pane_left
{
	float: left;
	margin: 0;
}

#pane_right
{
	float: right;
	margin: 0;
}

#pane_center
{
    margin: 0px 220px 0px 220px;
}

.pane
{
	width: 200px;
	margin: auto;
	padding: 0 3px;
	border: 2px solid #ffc61e;
}