div.left {
	float:left;
	display:block;
	width:315px;
}

div.right {
	width:315px;
	float:right;
	display:block;
}

fieldset.left {
	width:100%;
}

fieldset.right {
	width:100%;
}

fieldset {
	background:none;
	color:black;
	border:1px solid black;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	width:650px;
	margin:0 auto;
}

div {
	margin:0 auto;
}

.button {
	min-width: 100px;
}