.dept_tr, .class_tr {
	background-color:green;	
}

.sel_p, #class_header {
	margin: 7px;
	text-align: center;
}

.dept_input {
	width:100px;
	margin: 0 5px;
}

.class_input {
	width:75px;
	margin: 0 5px;
}

.highlight_row {
	background-color:fuchsia;
}

.highlight_p {
	border: lime 2px solid;
	margin: 3px;
	padding: 0;
}

table {
	width:675px;
}

#depts, #class_table {
	width:325px;
}

#right_side, #left_side{
	width:340px;
}

#department_list, #class_list {
	height:200px;
	overflow-y:auto;
	overflow-x:hidden;
}

fieldset {
	background:none;
	color:black;
	border:1px solid black;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	width:650px;
	margin:0 auto;
}

div {
	margin:0 auto;
}

.button {
	min-width: 100px;
}