/* 'a' pseudo class order matters! 

a:link
a:visited
a:hover
a:active

*/


body {
	background:none repeat scroll 0 0 #fff;
	font-family:arial;
	margin:0;
	padding:0;
	font-family: Helvetica;
	min-width:800px;
	color: #333;
}

a {
	outline: none;
}


img {
	border: 0;
}

h1 {
	font-family:'Helvetica';
	color: #333;
	margin-top:0;
	text-align:center;
}

#body {
	background:none repeat scroll 0 0 #fff;
	margin:0 auto;
	width:798px; /*account for 2px of border*/
	border:1px solid #9DC0E0;
	border-top: none;
}

#title_name {
	display:block;
	height:106px;
	width:800px;
	margin:auto;
}

#title_name_small {
	display:block;
	height:42px;
	width:800px;
	margin:auto;
}

#title_pane {
	background-color: #39608f;
	height:106px;
	width:800px;
	margin: 0px auto;
	background-repeat:repeat-x;
	position: relative;
}

.rounded_bottom_corners {
	position: relative;
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	-khtml-border-radius: 0px 0px 10px 10px;
	behavior: url("border-radius.htc");
	border-radius: 0px 0px 10px 10px;
}

.rounded_corners {
	position: relative;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	behavior: url("border-radius.htc");
	border-radius: 10px;
}

.rounded_corners_small {
	position: relative;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	behavior: url("border-radius.htc");
	border-radius: 5px;
}

/*
top: #FCEE21;
bottom: #FFCE34;
*/

a.gradient_button {
	display: block;
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 18px;
	font-weight: lighter;
	text-align: center;
	padding: 10px 20px;
	color: #333;
	text-decoration: none;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCEE21', endColorstr='#FFCE34');
	background: -webkit-gradient(linear, left top, left bottom, from(#FCEE21), to(#FFCE34));
	background: -moz-linear-gradient(top,  #FCEE21,  #FFCE34);
}

a.gradient_button:hover {
	color: #555;
}

a.gradient_button:active {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFCE34', endColorstr='#FCEE21');
	background: -webkit-gradient(linear, left top, left bottom, from(#FFCE34), to(#FCEE21));
	background: -moz-linear-gradient(top,  #FFCE34,  #FCEE21);
}

/* Start Sign In Menu */

#signin_menu {
	-moz-border-radius: 5px 0px 5px 5px;
	-webkit-border-radius: 5px 0px 5px 5px;
	-khtml-border-radius: 5px 0px 5px 5px;
	behavior: url("border-radius.htc");
	border-radius: 5px 0px 5px 5px;
	display:none;
	background-color:#39608f;
	border:5px solid #FFCE34;
	position:absolute;
	width:230px;
	z-index:100;
	text-align:left;
	padding:5px;
	margin-left:-8px;
	*margin-left:-15px;
	margin-top:5px;
	color:#fff;
	font-size:11px;
	right: 20px;
	top: 46px;
}

#signin_menu fieldset {
	border: none;
	padding: none;
	margin: none;
}

#signin_menu input[type=text], #signin_menu input[type=password] {
	display:block;
	border:1px solid #ACE;
	font-size:13px;
	margin:0 0 5px;
	padding:5px;
	width:203px;
}
#signin_menu p {
	margin:5px 10px;
}
#signin_menu a {
	color:#6AC;
}
#signin_menu label {
	font-weight:normal;
}
#signin_menu p.remember {
	padding:10px 0;
}
#signin_menu p.forgot {
	clear:both;
}
#signin_menu p a {
	color:#fff !important;
}
#signin_submit {
	background-color: #FFCE34;
	border: none;
	color:#333;
	padding:4px 10px 5px;
	font-size:11px;
	margin:0 5px 0 0;
	font-weight:lighter;
}
#signin_submit::-moz-focus-inner {
padding:0;
border:0;
}
#signin_submit:hover, #signin_submit:focus {
	cursor:pointer;
}

.tipsy-inner {
	padding:10px 15px;
	line-height:1.5em;
	font-weight:bold;
}
.ie6 .tipsy {
	width:250px;
}
.signup-tip {
	line-height:18px;
	margin:30px 0;
	color:#333;
}
.signup-tip a {
	font-weight:bold;
}

/* End Sign In Menu */


#nav_bar, #admin_nav_bar{
	margin:0;
	min-width:800px;
	width:800px;
	padding:5px 0 2px;
	text-align:right;
}

li.nav_item {
	display:inline;
	padding:8px 10px;
	margin:0;
	width: 25px;
	max-width:25px;
	border-left:1px solid #fff;
}
li.nav_item a {
	font-size: 20px;
	font-weight: lighter;
}

.nav_item a:link,
.nav_item a:visited {
	color:#FFFFFF;
	margin:0;
	text-decoration:none;
}

.nav_item a:hover {
	color:#333;
	margin:0;
}

#nav_location {
	bottom: -32px;
	height: 54px;
	padding: 10px 8px;
	position: absolute;
}

#nav_location h1 {
	color: #fff;
	font-weight: lighter;
	font-size: 60px;
}

#content {
	width:775px;
	min-width:675px;
	margin:0 auto;
	min-height:440px;
	padding:5px 0;
	position: relative;
}

#vertical_ad {
	padding:16px 5px 0;
	position: absolute;
	right: -150px;
	top: -35px;
}

#social
{
	float: left;
	padding: 16px 5px 0;
	width: 80px;
	height: 200px;
}

#footer {
	background:#fff;
	width:800px;
	border:1px solid #fff;
	margin: 10px auto 0;
	padding: 5px 0;
}

#footer_content {
	margin: 0 20px;
	color:#333;
	text-align: center;
}

#footer_content p {
	margin:3px;
	font-size:10pt;
}

#navigation_pane, #admin_nav_pane {
	width:800px;
	background-color:#39608f;
	height:30px;
	margin: 0 auto;
}

#body_pane {
	width:800px;
	margin: 0 auto;
	position: relative;
}

#bottom_bar {
	background-color:black;
	background-image:url("../images/bottom_bar.png");
	background-repeat:repeat-x;
	height:10px;
	width:100%;
}

.error {
	color:red;
}
.text{
	color: #fff;
}

#personal_info {
	float:right;
}

#password_reset {
	float: left;
}



/* Schedule List View */

ul#schedule_master {
	float: left;
    list-style: none outside none;
    margin: 0;
}
ul#schedule_master li {
	padding: 15px 0;
    width: 135px;
}
ul#schedule_master li a {
	background-color: blue;
    height: 100%;
    padding: 15px 8px;
}
ul#schedule_master li a.hidden {
	background-color: red;
    height: 100%;
    padding: 15px 8px;
}

div#schedule_detail {
	float: right;
	width:600px;
}

div.schedule {
	float:left;
}

ul.schedule_week {
	list-style: none;
	padding: 0;
	width: 600px;
	margin: 0;
}

ul.schedule_week li {
	float: left;
	width: 120px;
}

ul.schedule_day {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.schedule_day li {
	background-color: lime;
	padding: 5px;
	width: 110px;
	border: solid 1px #AAA;
}

ul.schedule_day li.day_empty {
	background: none;
	border: none;
}

ul.schedule_day li.day_break {
	background: none;
	border: none;
}


/* Schedule Item Picker */

div#schedule_picker_container {
	height: 420px;
	width: 415px;
	position: absolute;
	left: 20px;
	top: 20px;
}

div#schedule_picker_container h1.heading {
	text-align: center;
	font-size: 24px;
	border-bottom: solid 1px #333;
	margin: 0 0 20px;
}

div#schedule_picker_div {
	position: relative;
}

ul.schedule_item_list {
	list-style: none;
	padding: 0;
	margin: 0;
}


ul.schedule_item_list li {
	height: 50px;
    margin: 7px;
    padding: 0;
    position: relative;
    width: 100%;
}

ul.schedule_item_list li a {
	display: block;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

ul.schedule_item_list li h1 {
	font-size: 18px;
    margin: 5px 10px;
    padding: 0;
    text-align: left;
}

ul.schedule_item_list li p {
	margin: 5px 10px;
    padding: 0;
    font-size: 16px;
}

ul.schedule_item_list_breadcrumbs {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.schedule_item_list_breadcrumbs li {
	float: left;
	margin: 0 6px 0 0;
	padding: 0;
}

ul.schedule_item_list_breadcrumbs li a {
	
}

ul.schedule_item_list_scrollList {
	list-style: none;
	margin: 5px 0 0 0;
	padding: 0;
}

ul.schedule_item_list_scrollList li {
	margin: 0;
	padding: 0;
}

ul.schedule_item_list_scrollList li a {
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: black;
}

ul.schedule_item_list_scrollList li a:link {
	color: black;
}

ul.schedule_item_list_scrollList li a:visited {
	color: black;
}

ul.schedule_item_list_scrollList li a:hover {
	color: black;
}

ul.schedule_item_list_scrollList li a:active {
	color: black;
}


/* Course List */

div#course_list_container {
	position: absolute;
	right: 20px;
	top: 20px;
	margin: 0;
	padding: 0;
	width: 250px;
}

div#course_list_container h1.heading {
	text-align: center;
	font-size: 24px;
	border-bottom: solid 1px #333;
	margin: 0 0 20px;
}

div#course_list_container ul {
	list-style: none;
	padding: 0;
	margin: 0;
	overflow-y: auto;
	overflow-x: hidden;
	height: 375px;
}

div#course_list_container ul li {
	height: 50px;
    margin: 7px 7px 7px 15px;
    padding: 0;
    position: relative;
    width: 100%;
}

div#course_list_container ul li h1 {
	font-size: 18px;
    margin: 5px 10px;
    padding: 0;
    text-align: left;
}

div#course_list_container ul li p {
	margin: 5px 10px;
    padding: 0;
    font-size: 16px;
}

div#course_list_container ul li a {
	display: block;
    font-size: 16px;
    left: -15px;
	top: 10px;
    margin: 0;
    padding: 0;
    position: absolute;
    color: red;
    text-decoration: none;
}
