body {
	background:none repeat scroll 0 0 #323740;
	font-family:arial;
	margin:0;
	padding:20px 0;
	font-family:'Droid Sans';
	min-width:800px;
}
img
{
	border: 0;
}

h1 {
	font-family:Vollkorn black,Vollkorn;
	margin-top:0;
	text-align:center;
}

#body {
	background:none repeat scroll 0 0 #B3C7E5;
	border:0 solid white;
	margin:0 auto;
	width:800px;
}

#title_name {
	display:block;
	height:90px;
	width:800px;
	margin:auto;
}

#title_pane {
	background-image:url("../images/title_bar.png");
	height:90px;
	background-repeat:repeat-x;
}
#nav_bar, #admin_nav_bar{
	font-family:'Droid Sans';
	list-style-type:none;
	margin:0;
	padding:3px 22% 2px;
	border:0 1px solid white;
	border-top:0px;
	border-bottom:0px;
	text-align:left;
	float: left;
}

#login_bar {
	font-family:'Droid Sans';
	list-style-type:none;
	margin:0;
	padding:3px 0 2px;
	border:0 1px solid white;
	border-top:0px;
	border-bottom:0px;
	text-align:left;
}

li.nav_item {
	display:inline;
	padding:0;
	margin:0;
	width: 25px;
	max-width:25px;
}

.nav_item a:link,
.nav_item a:visited {
	color:#FFFFFF;
	margin:0 5px;
	text-decoration:none;
}

.nav_item a:hover {
	color:red;
	margin:0 5px;
}

#content {
	width:675px;
	min-width:675px;
	margin:0 auto;
	min-height:300px;
	padding:5px 0;
}

#vertical_ad {
	float:right;
	padding:16px 5px 0;
}

#social
{
	float: left;
	padding: 16px 5px 0;
	width: 80px;
	height: 200px;
}

#footer {
	background:#323740; /*6088C8*/
	width:800px;
	border:1px solid white;
	margin: 10px auto 0;
	padding: 5px 0;
}

#footer_content {
	margin: 0 20px;
	color:white;
	text-align: center;
}

#footer_content p {
	margin:3px;
	font-size:10pt;
}

#navigation_pane, #admin_nav_pane {
	width:100%;
	background:#7AAEFF;
	background-image:url("../images/title_bar.png");
	background-repeat:repeat-x;
	height:22px;
}

#body_pane {
	width:100%;
	background:#B3C7E5;
}

#bottom_bar {
	background-color:black;
	background-image:url("../images/bottom_bar.png");
	background-repeat:repeat-x;
	height:10px;
	width:100%;
}

label {
	width:43%;
	float:left;
	text-align:right;
	margin-right:0.5em;
	display:block;	
	text-align:right;
}

textarea {
	height:150px;
	width:300px;
}

#submit_button {
	margin-left:5.5em;
}

fieldset {
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	background:none repeat scroll 0 0 #2C4567;
	color:white;
	margin:15px auto;
	width:300px;
	text-align:center;
}

legend {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background:none repeat scroll 0 0 #2C4567;
	border:2px solid silver;
	font-size:15pt;
	font-weight:bold;
	padding: 0 5px;
}

.button {
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	background-image:url("../images/button.png");
	background-repeat:repeat-x;
	height:24px;
	min-width:70px;
	font-size:10pt;
}

.button:active {
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	background-image: url("../images/button_hover.png");
    background-repeat: repeat-x;
	height:24px;
	min-width:70px;
	font-size:10pt;
}

.error {
	color:red;
}

#personal_info {
	float:right;
}

#password_reset {
	float:left;
}