* {
	font-family: "Tahoma";
	margin: none;
	padding: none;
}

IMG {
	border: none;
}

* HTML * {
	/*IE 5.0 hacks (IE has a root property above HTML)*/
	font-family: "Tahoma";
}

/*HTML REDEFINES*/

BODY {
	background: #ccc;
	margin: 0px;
	padding: 0px;
}

H1 {
	margin: 0px;
	margin-bottom: 5px;
	font-size: 20px;
	border-bottom: 1px dashed #ccc;
	font-weight: bold;
}

H2 {
	margin: 0px;
	background: #eee;
	border: 1px solid #ccc;
	font-size: 25px;
	font-weight: bold;
}

A {
	text-decoration: underline;
	color: black;
	font-weight: bold;
}

UL {
	margin: 4px;
}

INPUT {
	border: 1px solid grey;
	margin: 1px;
}

HR {
	border: 1px solid #ccc;
}

/*ELEMENT DEFS*/

#topbar {
	background: #6087C7;
	height: 90px;
	width: 800px;

	border-bottom: 1px solid black;
}

#loginbar {
	background: black;
	height: 20px;
	font-size: 9px;
	color: white;
	border-bottom: 1px solid black;
	padding: 4px;
}
	#loginbar input {
		font-size: 9px;
	}
	

#globalcontainer {
	border: 1px solid black;
	background: white;
	width: 800px;
}

#secondarycontainer {
	background: white;
	width: 780px;
	padding: 10px;
}

#errorbox {
	padding: 5px;
	border: 1px solid #660033;
	background: #FF9999;
	color: #660033;
	font-size: 10px;
}
	#errorbox table tr td {
		border: 1px solid #660033;
		background: #FF9999;
		color: #660033;
		font-size: 10px;
	}

#debugbox {
	padding: 5px;
	border: 1px solid #336600;
	background: #66FF00;
	color: #336600;
	font-size: 10px;
}
	#debugbox table tr td {
		border: 1px solid #336600;
		background: #66FF00;
		color: #336600;
		font-size: 10px;
	}

/*GENERAL DEFS*/

.outerbox {
	border: 1px solid #ccc;
	background: #eee;
}

.alertbox {
	border: 1px solid #660033;
	background: #FF9999;
	color: #660033;
}
	
	.alertbox_inner {
		border: 1px solid #660033;
		margin: 4px;
		padding: 4px;
		font-size: 11px;
		background: white;
	}
		

.menubox {
	border: 1px solid #ccc;
	margin: 4px;
	padding: 4px;
	font-size: 11px;
	background: white;
}

	.menubox A {
		display: block;
		border: 1px hidden #ccc;
		padding: 2px;
		text-decoration: none;
		font-weight: normal;
	}

	.menubox A:hover {
		display: block;
		border: 1px solid #ccc;
		padding: 2px;
		text-decoration: none;
		font-weight: normal;
		background: #eee;
	}

	.menubox A.membersonly {
		display: block;
		color: #bbb;
		border: 1px hidden #ccc;
		padding: 2px;
	}

	.menubox A.membersonly:hover {
		display: block;
		border: 1px solid #ccc;
		background: #eee;
		padding: 2px;
	}
		

.menubox_title {
	font-size: 12px;
	font-weight: bold;
	margin: 3px;
}

.normaltext {
	font-size: 12px;
}

.smalltext {
	font-size: 11px;
}

.textbox {
	border: 1px solid #ccc;
	margin: 4px;
	padding: 4px;
	background: white;
}
